<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gazebo_extensions" params="">
    <!-- 接触参数 -->
    <gazebo reference="wheel_left_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>100000.0</kp>
      <kd>10.0</kd>
    </gazebo>

    <gazebo reference="wheel_right_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>100000.0</kp>
      <kd>10.0</kd>
    </gazebo>

    <gazebo reference="caster_link">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <kp>100000.0</kp>
      <kd>10.0</kd>
    </gazebo>

    <!-- PPT要求：差速驱动插件，订阅 /cmd_vel -->
    <gazebo>
      <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <alwaysOn>true</alwaysOn>
        <leftJoint>wheel_left_joint</leftJoint>
        <rightJoint>wheel_right_joint</rightJoint>
        <wheelSeparation>${2.0*wheel_y_offset}</wheelSeparation>
        <wheelDiameter>${2.0*wheel_radius}</wheelDiameter>
        <torque>20</torque>
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <robotBaseFrame>base_link</robotBaseFrame>
        <publishWheelTF>false</publishWheelTF>
        <publishOdomTF>true</publishOdomTF>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
